.card__inner {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 32%;
  background: #f5f5f5;
}
.card__body {
  padding: 24px;
}
.card__body .tit {
  font-size: 24px;
  margin-bottom: 10px;
}
.card__body .desc {
  font-size: 18px;
  line-height: 1.4;
  color: #666;
  margin-bottom: 20px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.card__body .btn {
  font-size: 16px;
  color: #222;
}
@media all and (max-width: 820px) {
  #cardType {
    padding: 80px 0;
  }
  .section > h2 {
    font-size: 40px;
  }
  .section > p {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .card__body .tit {
    font-size: 20px;
    height: 35px;
    margin-bottom: 20px;
  }
  .card__body .desc {
    font-size: 12px;
  }
  .card__body .btn {
    font-size: 14px;
  }
}
@media all and (max-width: 743px) {
  .section > h2 {
    font-size: 30px;
  }
  .section > p {
    font-size: 16px;
    margin-bottom: 25px;
    padding: 0 30px;
  }
  .card__body .tit {
    font-size: 18px;
  }
  .card__body .desc {
    font-size: 10px;
  }
  .card__body .btn {
    font-size: 12px;
  }
  @media all and (max-width: 485px) {
    .section > p {
      font-size: 12px;
    }
  }
  @media all and (max-width: 440px) {
    .card__body .tit {
      font-size: 14px;
    }
  }
}
